# Front End 
netlify_api_token = "op://personal-website/netlify_api_token/credential"
site_id = "op://personal-website/netlify_config/site_id"
team_id = "op://personal-website/netlify_config/team_id"
custom_domain = "op://personal-website/netlify_config/custom_domain"

# Infrastructure
railway_api_token = "op://personal-website/railway_api_token/credential"
railway_project_id = "op://personal-website/railway_config/project_id"
railway_environment_name = "op://personal-website/railway_config/environment_name"

# DB
db_name = "op://personal-website/db_config/name"
db_user = "op://personal-website/db_config/user"
db_password = "op://personal-website/db_config/password"
db_root_password = "op://personal-website/db_config/root_password"
