# Frontend
NEXT_PUBLIC_GITHUB_USERNAME=<your-github-username>

# Database
MYSQL_DATABASE=<your-database-name>
MYSQL_USER=<your-database-user>
MYSQL_PASSWORD=<your-database-password>
MYSQL_ROOT_PASSWORD=<your-database-root-password>
MYSQL_HOST=<your-database-host>
MYSQL_PORT=<your-database-port>
